
-- Create hospital_settings table if not exists
CREATE TABLE IF NOT EXISTS public.hospital_settings (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    hospital_name text DEFAULT 'My Hospital',
    address text DEFAULT '123 Health St, Wellness City',
    contact_number text DEFAULT '+1 234 567 8900',
    logo_url text,
    created_at timestamptz DEFAULT now()
);

-- Insert default row if empty
INSERT INTO public.hospital_settings (hospital_name)
SELECT 'My Hospital'
WHERE NOT EXISTS (SELECT 1 FROM public.hospital_settings);

-- RLS for hospital_settings
ALTER TABLE public.hospital_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
Allow
public
read
hospital_settings\ ON public.hospital_settings;
CREATE POLICY \Allow
public
read
hospital_settings\ ON public.hospital_settings FOR SELECT USING (true);
DROP POLICY IF EXISTS \Allow
admin
update
hospital_settings\ ON public.hospital_settings;
CREATE POLICY \Allow
admin
update
hospital_settings\ ON public.hospital_settings FOR UPDATE USING (true); -- Simplified for now

-- RLS for profiles (Ensure doctors are visible)
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \Allow
public
read
profiles\ ON public.profiles;
CREATE POLICY \Allow
public
read
profiles\ ON public.profiles FOR SELECT USING (true);

