
-- Try to drop FK, then recreate pointing to profiles.
ALTER TABLE public.appointments DROP CONSTRAINT IF EXISTS appointments_doctor_id_fkey;

ALTER TABLE public.appointments 
    ADD CONSTRAINT appointments_doctor_id_fk 
    FOREIGN KEY (doctor_id) 
    REFERENCES public.profiles(id);

