
-- Ensure doctors table exists if not
CREATE TABLE IF NOT EXISTS public.doctors (
    id uuid PRIMARY KEY, 
    user_id uuid REFERENCES auth.users(id),
    full_name text,
    specialization text,
    created_at timestamptz DEFAULT now()
);

-- Sync Profiles -> Doctors
INSERT INTO public.doctors (id, user_id, full_name, specialization)
SELECT id, user_id, full_name, specialization
FROM public.profiles
WHERE role = 'doctor'
ON CONFLICT (id) DO UPDATE 
SET full_name = EXCLUDED.full_name, 
    specialization = EXCLUDED.specialization;

-- RLS
ALTER TABLE public.doctors ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
Public
read
doctors\ ON public.doctors;
CREATE POLICY \Public
read
doctors\ ON public.doctors FOR SELECT USING (true);

