
ALTER TABLE public.bills ADD COLUMN IF NOT EXISTS patient_type text GENERATED ALWAYS AS (
    CASE WHEN patient_id IS NULL THEN 'temporary' ELSE 'permanent' END
) STORED;
-- Note: patient_type on bills is redundant if we join, but user explicitly asked for 'temporary patient bills only shows in admin page'
-- which implies a need to distinguish. We are handling this by joining 'patients.patient_type' in the frontend.
-- The previous change to 'patients' table added 'patient_type' column.
-- Let's ensure RLS policy allows admin to see all bills.
CREATE POLICY \
Allow
admin
select
all
bills\ ON public.bills FOR SELECT USING (true);

